<!DOCTYPE html>
    <head>
        <title>PricePumpPal | About</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
        <style type="text/css">
            *
            {
            background-color: #FAF9F6 !important;
            }
        </style>
    </head>
    <body style="background-color: #FAF9F6;">
        <div class="container">
            <div>&nbsp;</div>
            <div class="columns">
                <div class="column">
                    <nav class="level">
                        <a href="/"><b>PricePumpPal</b></a>
                        <a href="/prices">Daily Prices</a>
                        <a href="/api">API</a>
                        <a href="/about">About</a>
                    </nav>
                </div>
                <div class="column"></div>
            </div>
            <div class="level">&nbsp;</div>
            <h1 class="title is-1">About</h1>
            <p>PricePumpPal provides open and accessible enhanced gas data, consumable for usage in modeling and prediction.</p>
            <br />
            <p>Data is consumed and enhanced, using GCE scheduler, pub/sub, and lambda functions. The jobs trigger, consume the data, and perform transformations and aggregations that we serve to you both on our website and via our accessible API.</p>
        </div>
    </body>
</html>