<!DOCTYPE html>
<html>
<head>
    <title>Find Nearest Gas Stations</title>
</head>
<body>
    <h1>Find Nearest Gas Stations</h1>
    <form method="POST" action="/nearest_gas_stations">
        <label for="location">Enter your location:</label>
        <input type="text" id="location" name="location">
        <br><br>
	<label for="distance">Enter the search distance (in meters):</label>
        <input type="number" id="distance" name="distance" value="5000">        
	<br><br>
	<input type="submit" value="Find Gas Stations">
    </form>
</body>
</html>

