<!DOCTYPE html>
    <head>
        <title>Find Nearest Gas Stations</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
        <style type="text/css">
            *
            {
            background-color: #FAF9F6 !important;
            }
        </style>
    </head>
    <body style="background-color: #FAF9F6;">
        <div class="container">
            <div>&nbsp;</div>
            <div class="columns">
                <div class="column">
                    <nav class="level">
                        <a href="/"><b>PricePumpPal</b></a>
                        <a href="/prices">Daily Prices</a>
                        <a href="/api">API</a>
                        <a href="/about">About</a>
                    </nav>
                </div>
                <div class="column"></div>
            </div>
            <div class="level">&nbsp;</div>
            <div class="level" style="font-family: 'Courier New', Courier, monospace">
                <div class="level-item has-background-primary-light has-text-primary-dark has-text-weight-semibold">
                    BINGHAMTON: ${{ data["binghamton"]["daily_price"] }}
                </div>
                <div class="level-item has-background-warning-light has-text-warning-dark has-text-weight-semibold">
                    AUSTIN: ${{ data["austin"]["daily_price"] }}
                </div>
                <div class="level-item has-background-info-light has-text-info-dark has-text-weight-semibold">
                    NEW YORK: ${{ data["new york"]["daily_price"] }}
                </div>
                <div class="level-item has-background-primary-light has-text-primary-dark has-text-weight-semibold">
                    SAN FRANCISCO: ${{ data["san francisco"]["daily_price"] }}
                </div>
                <div class="level-item has-background-warning-light has-text-warning-dark has-text-weight-semibold">
                    REDMOND: ${{ data["redmond"]["daily_price"] }}
                </div>
                <div class="level-item has-background-info-light has-text-info-dark has-text-weight-semibold">
                    MIAMI: ${{ data["miami"]["daily_price"] }}
                </div>
                <div class="level-item has-background-warning-light has-text-warning-dark has-text-weight-semibold">
                    CEDAR RAPIDS: ${{ data["cedar rapids"]["daily_price"] }}
                </div>
            </div>
            <h1 class="title is-1">Find Nearest Gas Stations</h1>
            <div class="columns">
                <div class="column">
                    <form method="POST" action="/nearest_gas_stations">
                        <label for="location">Enter your location:</label>
                        <input type="text" id="location" name="location" class="input">
                        <br><br>
                    <label for="distance">Enter the search distance (in meters):</label>
                        <input type="number" id="distance" name="distance" value="5000" class="input">        
                    <br><br>
                    <input type="submit" value="Find Gas Stations" class="button is-link has-background-primary has-text-white">
                    </form>
                </div>
                <div class="column">

                </div>
            </div>
        </div>
    </body>
</html>

